/* Movil First /***/       
*{	
	box-sizing:border-box;
}
form{width: 80%; }
.etiqueta{display:none;}
.control{width:100%;padding:0px;margin:0px;border:1px solid blue;height:2em;border-radius:5px;}
.controlc{width:100%;border:1px solid lightgreen;height:2em;border-radius:5px;}
legend{display:none;padding:0px;}
fieldset{border:none;padding:0;}
.boton{width:70%;background-color:green;height:2em;box-shadow:10px 5px gray;}


@media screen and (min-width: 420px){
.form{width:75%;margin:auto;max-width:1024px;}
.etiqueta{display:block;margin-bottom:2px;}
.control{border: 2px solid pink;}
legend{display:flex;}
fieldset{border:1px solid;margin:1em;padding:2px;}
.textcontrol{border:2px dotted green;border-radius:0px;}
.boton{width:60%;margin-left:15em;}

}

@media screen and (min-width: 820px){
form{width: 980px; }
.grupo{display:flex;}
.form{width:100%;margin:auto;}
.etiqueta{flex:2 1 0;}
.control{flex: 5 1 0; border: 2px dotted gray;}
.controlc{flex: 5 1 0;}
legend{display:flex;}
fieldset{border:1px solid;margin:1em;padding:2px;}
.boton{width:20%;}


}
